db.sqlite3
urgaz_tutorials/__pycache__
__pycache__
*/__pycache__
*/__init__.py
app/__pycache__
statistic/__pycache__
statistic/migrations
statistic/migrations/__init__.py
app/migrations
app/migrations/__init__.py
staticfiles
.env
marketing