{% load static %}
{% load index %}
{% load func %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="30;url={% url 'statistic_table_dayly' %}" /> -->
    <!-- <link rel="stylesheet" href="{% static 'statistic/black-table.css' %}"> -->
    {% if ip == '192.168.88.5' %}
    <link rel="stylesheet" href="{% static 'statistic/black-table.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'statistic/black-table-kamalak.css' %}">
    {% endif %}
    
    <title>{{ current_month }} </title>
</head>
<body>
    
    <h1><span class="blue">&lt;</span><span class="blue">&gt;</span> <span class="yellow">{{ today }}</pan></h1>

        <table class="container">
            <thead>
                <tr>
                    <th class="thh1"><h1>№</h1></th>
                    <th class="thh1"><h1>Master</h1></th>
                    <th class="thh1"><h1>Soni</h1></th>
                    <th class="thh1"><h1>Sklad m<sup>2</sup></h1></th>
                    <th class="thh1"><h1>Norma lenta m<sup>2</sup></h1></th>
                    <th class="thh1"><h1>Norma farqi</h1></th>
                    <th class="thh1"><h1>Lenta soati</h1></th>
                    <th class="thh1"><h1>m<sup>2</sup> soatiga</h1></th>
                    <th class="thh1"><h1>Kley stanok m<sup>2</sup></h1></th>
                    <th class="thh1"><h1>Norma kley stanok</h1></th>
                    <th class="thh1"><h1>Kley stanok soati</h1></th>
                    
                </tr>
            </thead>
            <tbody>
                {% for l in list %}
                <tr>
                    <td><div class="td">{{ l.smena.no }}</div></td>
                    <td><div class="td">{{ l.smena.master }}</div></td>
                    <td><div class="td">{{ l.soni }}</div></td>
                    <td><div class="td">{{ l.sklad }}</div></td>
                    <td><div class="td">{{ l.smena.norma_lenta }}</div></td>
                    <td><div class="td">{{ l.sklad|sub:l.smena.norma_lenta }}</div></td>
                    <td><div class="td">{{ l.lenta }}</div></td>
                    <td><div class="td">{{ l.m2 }}</div></td>
                    <td><div class="td">{{ l.kley_st_m2 }}</div></td>
                    <td><div class="td">{{ l.smena.norma_kley }}</div></td>
                    <td><div class="td">{{ l.kley_st }}</div></td>
                </tr>
                {% endfor %}


            </tbody>
        </table>

    
</body>
</html>